<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{.Title}}</h1>
    <div class="story">
    {{range .Story}}
        <p>{{.}}</p>
    {{end}}
    </div>
<hr>
    <h2>How do you want to proceed?</h2>
    <div class="options">
        {{range $option := .Options}}
            <li><a href="/{{$option.NextArc}}">{{$option.Text}}</a></li>
        {{end}}
    </div>
</div>
</body>
</html>